#app1 {
  width: 50vw;
  height: 50vh;
  border: 1px solid grey;
}
.output {
  display: flex;
  justify-content: center;
}
.actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.actions > button {
  padding: 0 5px;
  margin-right: 10px;
}
